



body {
  font-size: 1em;
  font-family: sans-serif;
}


.header {
  text-align: center;
  width: auto;
}

h1 {
  margin-bottom: -20px;
}

li {
  list-style-type: none;
}

footer {
  text-align: center;
  width: auto;
  font-weight: bold;
}

.new {
  padding-bottom: 20px;
  padding-left: 12%;
  border-style: outset;
  margin: 1%;
  margin-right: 20%;
  margin-left: 8%;
}

a {
  padding-left: 10%;
}

.tweets {
  text-align: center;
  padding-right: 4%;  
  padding-bottom: 1%;
  width: auto; 
}

button {
  font-size: 1em;
  background-color: green;
  font: sans-serif;
  font-color: white
  font-weight: bold;
}
